{% extends 'base.html' %}

{% load staticfiles %}

{% block page-title %}
Batch Importer
{% endblock page-title %}

{% block page-subtitle %}
Upload 1 photo for each piece blow, after selecting your location
{% endblock page-subtitle %}

{% block head-stuff %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/css/jquery.fileupload.css">
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/js/jquery.fileupload.js"></script>
<link href="{% static "css/edit_piece.css" %}" rel="stylesheet">
{% endblock head-stuff %}

{% block page-content %}
<form class="pure-form pure-form-stacked" method="post">
{% csrf_token %}
    <fieldset>
        <label for="location">Location</label>
        <select name="location" id="location" style="height: 34px;" class="pure-input-1-3">
                {% for location in locations %}
                        <option {% if location.pk == piece.location.pk %}selected{% endif %} value="{{location.pk}}">{{location.title}}</option>
                {% endfor %}
        </select>
    </fieldset>
</form>
<div>
    <span class="pure-button pure-button-primary fileinput-button">
        <i class="fa fa-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
</div>
<script type="text/javascript">
var url = '/pieces/add-with-photo/';
    var url = '';
    $(function () {
        setup();
        $("#location").change(function(){
            url = '/pieces/add-with-photo/' + $("#location").val();
            setup();
        });      
        $("#location").change();
    });
    function setup(){
        $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    //maybe inject here...
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    if(data.loaded == data.total){
                        location.href = '/art-list/location/' + $("#location").val();        
                    }
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    }
    function deletePhoto(id){
        if(confirm("Really Delete?")){
            $.post( "/pieces/{{piece.pk}}/photo/" + id + "/delete", function( data ) {
                $("#thumb-" + id).remove();
            });   
        }
    }
</script>
{% endblock page-content %}