{% extends 'base.html' %}

{% load thumbnail %}
{% load staticfiles %}

{% block page-title %}
Art Piece Editor
{% endblock page-title %}

{% block page-subtitle %}
Setup the art piece below
{% endblock page-subtitle %}

{% block head-stuff %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/css/jquery.fileupload.css">
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/js/jquery.fileupload.js"></script>
<link href="{% static "css/edit_piece.css" %}" rel="stylesheet">
<!-- cdn for modernizr, if you haven't included it already -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
{% endblock head-stuff %}

{% block page-content %}
<div class="pure-g">
<div class="pure-u-1 pure-u-lg-1-3">
<div class="pad-right">
    <h3>Piece Details</h3>
        <form class="pure-form pure-form-stacked" method="post">
        {% csrf_token %}
            <fieldset>
                <label for="title">Title</label>
                <input id="title" name="title" type="text" placeholder="Title" class="pure-input-1" value="{{ piece.title }}">
                
                <label for="artist">Artist</label>
                <input id="artist" name="artist" type="text" placeholder="Artist" class="pure-input-2-3" value="{{ piece.artist }}">
                
                <label for="purchase_date">Purchase Date</label>
                <input id="purchase_date" name="purchase_date" type="date" placeholder="Date of Purchase" value="{{ piece.purchase_date|date:"Y-m-d" }}">
                
                <label for="artist">Purchase Price $</label>
                <input id="artist" name="purchase_price" type="number" step="any" min="0" max="10000000" placeholder="Purchase Price" value="{{ piece.purchase_price }}">
        
                <label for="location">Location</label>
                <select name="location" id="location" style="height: 34px;" class="pure-input-2-3">
                        {% for location in locations %}
                                <option {% if location.pk == piece.location.pk %}selected{% endif %} value="{{location.pk}}">{{location.title}}</option>
                        {% endfor %}
                </select>
                
                <label for="notes">Notes</label>
                <textarea id="notes" name="notes" class="pure-input-1" rows="6">{{piece.notes}}</textarea>
                
                <div class="pure-controls" style="margin-top: 20px;">
                    <a class="pure-button pure-button-secondary" href="/">Close</a>        
                    <button type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="pure-u-1 pure-u-lg-2-3" {% if piece.pk == None %} style="display: none;"{% endif %}>
<div class="pad-left">
<h3>Photos</h3>
<div class="photo-holder">
<div class="pure-g">
{% for photo in piece.photos %}
<div class="pure-u-1-4" id="thumb-{{photo.pk}}">
    <div class="photo-thumb">
        {% thumbnail photo.image "400x300" crop="center" as im %}
            <img src="{{ im.url }}" />
        {% endthumbnail %}
        <a class="delete-button" href="javascript:deletePhoto({{photo.pk}})"><i class="fa fa-trash-o"></i></a>
        <a class="preview-button" href="{{photo.image.url}}" target="_blank"><i class="fa fa-eye"></i></a>
    </div>
</div>
{% endfor %}
</div>
</div>
<div>
    <span class="pure-button pure-button-primary fileinput-button">
        <i class="fa fa-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    $(function () {
        var url = '/pieces/{{piece.pk}}/add-photo';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                //maybe inject here...
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
                if(data.loaded == data.total){
                    setTimeout(function(){
                        location.reload(); 
                    }, 2000);             
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    function deletePhoto(id){
        if(confirm("Really Delete?")){
            $.post( "/pieces/{{piece.pk}}/photo/" + id + "/delete", function( data ) {
                $("#thumb-" + id).remove();
            });   
        }
    }
</script>
{% endblock page-content %}