{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block head-stuff %}
<link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock head-stuff %}

{% block page-title %}
Art Directory
{% endblock page-title %}

{% block page-subtitle %}
Easily manage, review and export information on your treasures.
{% endblock page-subtitle %}

{% block page-content %}
<div class="pure-g">
{% for location in locations %}
<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
<a class="location-tile" href="/art-list/location/{{location.pk}}">
{{location.title}}
{% thumbnail location.photo "400x300" crop="center" as im %}
      <img src="{{ im.url }}" >
{% endthumbnail %}
</a>
</div>
{% endfor %}
<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
<a class="location-tile" href="/art-list">
All Locations
</a>
</div>
</div>
{% endblock page-content %}